<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand logo' [routerLink]="['/home']">
                <img src="https://vignette.wikia.nocookie.net/logopedia/images/2/2d/Ea-sudoku-logo.png/revision/latest?cb=20110819131146"/>
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-king'></span> Game
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/generator']">
                        <span class='glyphicon glyphicon-wrench'></span> Generator
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>